<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Eroare 403</title>
        <%-include("../fragmente/head.ejs");%>
        <link rel="stylesheet" href="/resurse/css/403.css">
    </head>
    <body>
    <header>
        <link rel="stylesheet" href="/resurse/css/header.css">
        <h1>Eroare 403 - Acces interzis</h1>
    </header>
    <%-include("../fragmente/nav.ejs");%>
    <%-include("../fragmente/printare.ejs");%>
    <main>
        <h2>Nu aveti acces la aceasta pagina</h2>
        <img src="/resurse/imagini/403.webp" alt="403">
    </main>
    <%-include("../fragmente/footer.ejs");%>
    </body>
</html>