<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Eroare 404</title>
        <%-include("../fragmente/head.ejs");%>
    </head>
    <body>
        <header>
            <link rel="stylesheet" href="/resurse/css/header.css">
            <h1>Eroare 404</h1>
        </header>
        <%-include("../fragmente/nav.ejs");%>
        <main>
            <h2 style="text-align: center">Pagina cautata nu exista</h2>
            <img style="width: 100%" src="resurse/imagini/404.webp" alt="404">
        </main>
        <%-include("../fragmente/footer.ejs");%>
    </body>
</html>