.prezentare {
    grid-area: area1;
}
.tabel {
    grid-area: area2;
}
.calendar-evenimente {
    grid-area: area3;
}
.anunturi {
    grid-area: area4;
}
.utilizatori-online {
    grid-area: area5;
}
.utilizator-statistici {
    grid-area: area6;
}
.utilizator-statistici p {
    text-align: center;
}
.site-server {
    grid-area: area7;
}
.continut-etapa-1 {
    grid-area: area8;
}
#galerie-statica {
    grid-area: area9;
}
.grid-pagina {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'area1 area1 area1 area1'
    'area3 area2 area2 area4'
    'area8 area8 area8 area8'
    'area7 area7 area5 area6'
    'area9 area9 area9 area9';
}
.prezentare, .tabel, .calendar-evenimente, .anunturi, .utilizatori-online, .utilizator-statistici, .site-server, .continut-etapa-1, #galerie-statica {
    border: solid 1px var(--albastru-inchis);
    margin: 10px;
}
h2 {
    text-align: center;
}
.flex-box {
    display: flex;
    justify-content: center;
    line-height: 15px;
    gap: 10px;
    width: 60%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.iframe-button {
    display: block;
    text-decoration: none;
    color: var(--rosu);
    background-color: var(--albastru-deschis);
    border: solid var(--albastru-inchis);
    width: 100px;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: background-color 500ms;
    border-bottom: none;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
.iframe-button:hover {
    background-color: var(--albastru-inchis);
}
/*Cod luat de pe w3school*/
.iframe {
    position: relative;
    width: 60%;
    overflow: hidden;
    padding-top: 30%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
ins {
    color: var(--rosu);
}
#program {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tabel-program {
    text-align:center;
}
th {
    background-color: var(--albastru-inchis);
    color: var(--alb);
}
#tabel-program {
    border-collapse: collapse;
    border: inset 5px var(--negru);
}
#tabel-program caption {
    caption-side: bottom;
    font-weight: bold;
}
tbody tr, tfoot tr {
    transition: 0.5s outline;
}
tbody tr:hover, tfoot tr:hover {
    outline: 5px solid rgba(255, 10, 71, 0.7);
}
td {
    border-right: 1px solid var(--negru);
}
thead tr {
    border-bottom: 1px solid var(--negru);
}
tbody tr:nth-child(odd) {
    border-bottom: 1px solid var(--alb);
}
tbody tr:nth-child(even) {
    border-bottom: 1px solid var(--negru);
}