#watermark, #absolut {
    display:none;
}
@media print {
    #link-top {
        display: none;
    }
    a {
        text-decoration: none;
        color: var(--negru);
    }
    img, figure, video, .iframe, .flex-box {
        display: none;
    }
    ins {
        color: var(--negru);
    }
    h1{
        text-align:center;
        margin-left:1cm;
    }
    #watermark {
        display: block;
        position: fixed;
        font-weight: bold;
        width: 4cm;
        height: 1cm;
        right: 0;
        bottom: 0;
        border: 3px solid var(--negru);
        border-radius: 20%;
        opacity: 0.4;
        text-align: center;
        color: var(--negru);
    }
}
@page {
    size: A4 portrait;
}
@page:left {
    margin-left: 3cm;
    margin-right: 1cm;
}
@page:right {
    margin-right: 3cm;
    margin-left: 1cm;
}