main {
    --padd-main: 1rem;
    padding-left: var(--padd-main);
    padding-right: var(--padd-main);
}
.nume {
    grid-area: nume;
}
.poza {
    grid-area: imagine;
    width: 50%;
    height: auto;
    float: right;
}
.poza img {
    width: 100%;
}
.pret {
    grid-area: pret;
}
.producator {
    grid-area: producator;
}
.caracteristici {
    grid-area: caracteristici;
}
.timp {
    grid-area: timp;
}
article {
    margin-bottom: 3rem;
}
.returnare {
    grid-area: returnare;
}
.produs p {
    color: var(--rosu);
    font-weight: bold;
}
.produs p>span {
    color: var(--negru);
    font-weight: normal;
}
.sursa_imagine {
    color: var(--rosu);
    font-weight: bold;
}
.sursa_imagine span {
    color: var(--negru);
    font-weight: normal;
    font-size: 8px;
}
.categorie {
    grid-area: categorie;
}
.descriere {
    grid-area: descriere;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'nume nume'
    'imagine categorie'
    'imagine descriere'
    'pret descriere'
    'producator descriere'
    'caracteristici descriere'
    'timp descriere'
    'returnare descriere';
    grid-gap: 1rem;
}
.grid-produse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.grid-produse .produs {
    border-radius: 2rem;
    box-shadow: 0 0 0.8rem 0.3rem var(--negru);
    overflow: hidden;
}
.grid-produse .produs h3 {
    height: 20px;
    background-color: var(--albastru-inchis);
    color: var(--alb);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.grid-produse .produs h3 a {
    color: var(--alb);
}
.grid-produse .produs h3 a:hover {
    color: var(--rosu);
}
.grid-produse .produs figure {
    text-align: center;
}
.grid-produse .produs figure img {
    border: 1px solid var(--negru);
}
.grid-produse .produs .info-prod {
    display: flex;
    background-color: var(--alb);
}
.grid-produse .produs .info-prod p {
    width: 30%;
    text-align: center;
    font-weight: bold;
}
.grid-produse .produs p.categorie {
    text-align: center;
    font-weight: bold;
}
.info-produse {
    background-color: var(--negru);
    padding:0.2rem;
    box-shadow: 0 0 0.5rem 0.15rem var(--negru);
}
.produs {
    position: relative;
}
.selecteaza-cos {
    display: inline-block;
    background-color: var(--albastru-inchis);
    color: var(--alb);
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.3rem;
    border: 1px solid transparent;
}
.selecteaza-cos:hover {
    background-color: var(--rosu);
    border: 1px solid  var(--albastru-inchis);
}
.timp time {
    color: var(--negru);
    font-weight: normal;
}
/*Cod luat de pe https://www.youtube.com/watch?v=pTlsnFLiK6c*/
#label-range {
    grid-area: area1;
}
#before-range {
    grid-area: area2;
    text-align: center;
}
#range {
    grid-area: area3;
}
#after-range {
    grid-area: area4;
    text-align: center;
}
#valoare-selectata {
    grid-area: area5;
    text-align: center;
}
.middle {
    position: relative;
    width: 50%;
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas:
    'area1 area1 area1 area1 area1'
    'area2 area3 area3 area4 area5';
}
.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}
.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: var(--alb);
}
.slider>.range {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: var(--albastru-inchis);
}
.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: var(--albastru-inchis);
    border-radius: 50%;
}
.slider>.thumb.left {
    left: 0;
    transform: translate(-10px,-5px);
}
.slider>.thumb.right {
    right: 0;
    transform: translate(10px,-5px);
}
input[type=range] {
    position: absolute;
    pointer-events: none;
    /*-webkit-appearance: none;*/
    z-index: 2;
    height: 10px;
    width: 50%;
    opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    /*-webkit-appearance: none;*/
}