html {
    font-size: 14px;
}
body {
    --culoare-background: #0509FF; /*principala*/
    --culoare-text: #FFFFFF;
    --culoare-border: #F9FF12;
    --culoare-highlight: #E80756;
    --culoare-meniu: #00008B;
}
.prezentare {
    grid-area: area1;
}
.tabel {
    grid-area: area2;
}
.calendar-evenimente {
    grid-area: area3;
}
.anunturi {
    grid-area: area4;
}
.utilizatori-online {
    grid-area: area5;
}
.utilizator-statistici {
    grid-area: area6;
}
.site-server {
    grid-area: area7;
}
.continut-etapa-1 {
    grid-area: area8;
}
.grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'area1 area1 area1 area1'
    'area3 area2 area2 area4'
    'area8 area8 area8 area8'
    'area7 area7 area5 area6';
}