<footer>
    <link rel="stylesheet" href="/resurse/css/footer.css">
    <a href="#" title="mergi sus" id="link-top">
        &#129081;
    </a>
    <address>
        Date contact:
        <br>
        <a href="tel:+40712356789">Telefon: +40712356789</a>
        <br>
        <a href="https://www.google.ro/maps/place/Faculty+of+Mathematics+and+Informatics+-+University+of+Bucharest/@44.4355393,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank">Adresa: Strada Academiei 14, București 010014</a>
        <br>
        <a href="mailto:calculatoarevechisinoi@gmail.com">Adresa email: calculatoarevechisinoi@gmail.com</a>
        <br>
        <a href="https://wa.me/40712356789">Whatsapp</a>
    </address>
    <p><small>Copyright &copy; Pavel Alexandru</small></p>
    <p><small>Pagina creata la data de <time datetime="2022-02-16">16-02-2022</time>.</small></p>
</footer>