<header>
    <link rel="stylesheet" href="/resurse/css/header.css">
    <link rel="stylesheet" href="/resurse/css/header-500.css" media="screen and (max-width:500px)">
    <h1>Magazinul Online "Calculatoare Noi si Vechi"</h1>
</header>