<nav>
    <link rel="stylesheet" href="/resurse/css/nav.css">
    <link rel="stylesheet" href="/resurse/css/nav-1000.css" media="screen and (max-width:1000px)" >
    <link rel="stylesheet" href="/resurse/css/nav-500.css" media="screen and (max-width:500px)">
    <label id="hamburger" for="checkbox-meniu">
        <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="checkbox-meniu" type="checkbox">
    <ul class="meniu">
        <!--Iconul de casa e luat de pe https://www.w3schools.com/howto/howto_css_icon_buttons.asp-->
        <li><div><a href="/" id="acasa">Acasa</a><a href="/" id="imagine-casa"><i class="fa fa-home"></i></a></div>
            <ul>
                <li><a href="/#oferte">Oferte</a></li>
                <li><a href="/#lichidare">Lichidare</a></li>
                <li><a href="/#produse_noi">Produse noi</a></li>
                <li><a href="/#informatii">Informatii</a></li>
            </ul>
        </li>
        <li><div><a href="/despre">Despre noi</a></div></li>
        <li><div><a href="produse.html">Produse</a></div>
            <ul>
                <li>In lucru<i class="fa fa-cog fa-spin"></i></li>
            </ul>
        </li>
        <li><div><a href="servicii.html">Servicii</a></div>
            <ul>
                <li>In lucru<i class="fa fa-cog fa-spin"></i></li>
            </ul>
        </li>
        <li><div><a href="cont.html">Cont</a></div>
            <ul>
                <li>In lucru<i class="fa fa-cog fa-spin"></i></li>
            </ul>
        </li>
        <li><div><a href="comenzi.html"><i class="fa fa-shopping-cart"></i></a></div>
            <ul>
                <li>In lucru<i class="fa fa-cog fa-spin"></i></li>
            </ul>
        </li>
    </ul>
</nav>